electron/node_modules/
electron/release
electron/backend
fastapi-server/venv/
fastapi-server/.env

fastapi-server/files
fastapi-server/memory
fastapi-server/embeddings
fastapi-server/models
fastapi-server/dist
fastapi-server/build
fastapi-server/__pycache__

*.db
fastapi-server/data